/*
Case 1 Style Sheet
Seth Wooten
September 23 2015
*/
body{
  font-size: 1.2em;
  font-family: Arial;
  background-color: #e6e6fa;
}
em{
  color: green;
  font-weight: bold;
}
h3{
  color: maroon;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.3em;
  font-family: Times;
}
